@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background:#FFFFFF;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.form-tarefa{
    width: 700px;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #FFFFFF;    
    border: 1px solid #E5E7EB;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(228, 228, 228, 0.6);
}
.form-tarefa h1{
    color: #0288d1;
}
.form-tarefa input, .form-tarefa select{
    width: 100%;
    padding: 16px 18px;
    border-radius: 14px;

    background: rgb(228, 228, 228);
    border: 1px solid rgba(255,255,255,0.12);
    
    
    font-size: 15px;
    transition: 0.25s;
}
.form-tarefa input{
    color: #3f3f3f;
}

.form-tarefa select{
    color: #3f3f3fb2;
}

.form-tarefa input:focus, .form-tarefa select:focus{
    outline: none;
    border-color: #4fc3f7;
    box-shadow: 0 0 0 3px rgba(79,195,247,0.25);
}
.form-tarefa input::placeholder, .form-tarefa select::placeholder{
    color: #3f3f3fb2;
}
.form-tarefa button{
    text-decoration: none;
    font-size: 15px;

    width: 300px;
    padding: 16px;
    border-radius: 16px;
    border: none;

    text-align: center;

    background: linear-gradient(135deg, #4fc3f7, #0288d1);
    color: white;

    cursor: pointer;
    transition: 0.3s;
}
.container-bts a{
    text-decoration: none;
    font-size: 15px;

    width: 300px;
    padding: 16px;
    border-radius: 16px;
    border: none;

    text-align: center;

    background: #00486e;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}
.form-tarefa button:hover, .container-bts a:hover{
    transform: translateY(-1px);
}
.container-bts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}